/* You can add global styles to this file, and also import other style files */
* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    background-image: url("../../../Week3/drevena-podlaha-dosky-166166.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}