*{
    padding:0px;
    margin:0px;
    background-color: #FAFAFA;
}
.fb {
    background-color: #3B5998;
    color: white;
    align-self: center;
  } 
  input,
  .btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
    align-self: center;
    margin-left:24%;
    margin-top: 20px;
  }

.contentblock{
    
    width:1200px;
}
.signup{
    float:right;
    padding:10px;
    margin-top:10px;
    margin-right:200px;
    width: 30%;
    height:550px;
    background-color: #FFFFFF;
    border: 2px solid lightgrey;
    
}
.signup h2{
    margin-top:10px;
    margin-bottom: 30px;
    background-color: #FFFFFF;
    text-align: center;
    color: lightslategray;
    font-weight: bold;
    font-size: 90%;
}
.picture{
    float:left;
    margin-left:80px;
    height: 80%;
}
.signup .logo{
    margin-left: 24%;
    margin-right: 24%;
    margin-top: 5%;
}
.or{
    margin-left: 42%;
    margin-right: 42%;
    margin-top: 8%;
    background-color: #FFFFFF;
    color: lightslategray;
    font-weight: bold;
    font-size: 22px;
    float:center;
}
.lin{
   padding-bottom: 0px;
   margin: 10px;
   margin-top: 40px;
   width: 30%;
   float:left;
}
.lin2{
    float: right;
    width:30%;
    margin: 10px;
    margin-top: 40px;
}
.signform{
    background: #FFFFFF;
}
.signform input[type="text"]{
    margin-bottom: 15px;
    border-radius: 5px;
    padding:5px;
    margin-left:10%;
    width:80%;
    font-size:16px;
    background-color: #FAFAFA;
    color: black;
}
.signform input[type="password"]{
    margin-bottom: 15px;
    border-radius: 5px;
    padding:5px;
    margin-left:10%;
    width:80%;
    font-size:16px;
    background-color: #FAFAFA;
    color: black;
}
.signform input[type="submit"]{
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 17px;
    line-height: 10px;
    text-decoration: none;
    align-self: center;
    margin-left:24%;
    width:50%;
    margin-top: 10px;
    background-color: #3B5998;
    color: white;
}
.haveaccount{
    float:right;
    padding:10px;
    margin-top:0px;
    margin-right:200px;
    width: 30%;
    background-color: #FFFFFF;
    border: 2px solid lightgrey;
}
.haveaccount p{
    margin-left: 30%;
   background: #FFFFFF;
}